@model Category
@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            Category detail 
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.Raw(Model.Name)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



