@model Service
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <span class="text-danger"></span>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            <strong>Service</strong>
                        </p>
                        <form asp-controller="Service" asp-action="Create" enctype="multipart/form-data" class="forms-sample" method="post">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input class="form-control" asp-for="Title">
                                <span asp-validation-for="Title" class="text-danger my-1"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input class="form-control" asp-for="Description">
                                <span asp-validation-for="Description" class="text-danger my-1"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Icon">Icon</label>
                                <input class="form-control" asp-for="Icon">
                                <span asp-validation-for="Icon" class="text-danger my-1"></span>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a asp-controller="Service" asp-action="Index" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

