@model FooterCategory
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";

}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            FooterCategory detail
        </div>
        <div class="card-body">
            <p class="card-text">@Model.Name</p>
        </div>
    </div>
</div>



