@model SliderDetailVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mx-5 my-3">
    <h3>SliderDetail</h3>
    <form asp-controller="SliderDetail" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input class="form-control" asp-for="Title">
                <span asp-validation-for="Title" class="text-danger my-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger my-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo">Photo</label>
                <input class="form-control" asp-for="Photo">
                <span asp-validation-for="Photo" class="text-danger my-1"></span>
            </div>
        </div>
        <a class="btn btn-primary" asp-controller="SliderDetail" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

